# Vendored upstream license texts must keep their exact bytes (their git blob
# ids are recorded in packages/web/build/license-overrides/overrides.json), so
# never convert their line endings on checkout.
packages/web/build/license-overrides/*.LICENSE -text
